.content {
  height: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;

  .title {
    background-color: rgb(216, 216, 216);
    padding: 5px 20px;
    width: 100%;
    margin-bottom: 30px;
  }
}
